.desktopImg {
  @apply transform;
  -webkit-animation: slide-top 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s
    both;
  animation: slide-top 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s both;
}
.textAppear {
  @apply transform;
  -webkit-animation: scale-up-center 1.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    1.5s both;
  animation: scale-up-center 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(50vh);
    transform: translateY(50vh) rotate(-25deg) scale(2);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(50vh);
    transform: translateY(50vh) rotate(-25deg) scale(2);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
