@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 min-h-screen min-w-full bg-[#000] p-0 font-poppins leading-7 tracking-wide text-white-base;
  scrollbar-color: #767f87 #3838382b;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply font-dm text-[8rem] font-black leading-[7rem];
}
h2 {
  @apply text-6xl font-black;
}
h3 {
  @apply font-dm text-2xl;
}
