@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 min-h-screen min-w-full bg-black-base p-0 font-koulen text-white-base;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply text-[8rem] font-black uppercase;
}
h2 {
  @apply text-7xl font-black uppercase;
}
h3 {
  @apply font-koulen text-4xl;
}
